{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>About! ✅</h1>

    This friendly message is coming from:
</div>
{% endblock %}
