<!-- Menu à gauche -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light">
    <div class="sidebar-sticky mt-3">
        <h2 class="display-4">Menu</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('app_admin_dashboard') }}">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</nav>