{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel niveau{% endblock %}
{% block body %}
<section class="row">
    <div class="col-md-6 offset-3">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Ajouter l'utilisateur" class="btn btn-outline-dark">
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}